stages:
  - test
  - build

variables:
  WORKSPACE: "."
  APP_FOLDER: "$WORKSPACE"
  APP_URL: ""
  APP_VERSION: "1.0.0"
  CYPRESS_IMAGE: "cypress/browsers:node-20.9.0-chrome-118.0.5993.88-1-ff-118.0.2-edge-118.0.2088.46-1"
  DOCKER_IMAGE: "docker:latest"
  DOCKER_DIND_SERVICE: "docker:dind"
  IMAGE_TAG_LATEST: "$DOCKER_USERNAME:latest"
  IMAGE_TAG_VERSION: "$DOCKER_USERNAME:$APP_VERSION"

# ===========================================
# JOB 1 : Tests
# ===========================================
test:
  stage: test
  image: $CYPRESS_IMAGE
  script:
    # Installer les dépendances
    - cd $APP_FOLDER
    - npm install
    # Lancer l'application et lancer les tests
    - npm run test:ci

# ===========================================
# JOB 2 : Build Docker
# ===========================================
build:
  stage: build
  image: $DOCKER_IMAGE
  services:
    - $DOCKER_DIND_SERVICE
  needs:
    - test
  before_script:
    # Login au registry
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    # Build de l'image
    - echo "Building Image..."
    - docker build -t $IMAGE_TAG_VERSION $APP_FOLDER
    - docker tag $IMAGE_TAG_LATEST $IMAGE_TAG_VERSION
    # Push de l'image avec les tags appropriés
    - echo "Pushing Image..."
    - docker push $IMAGE_TAG_VERSION
    - docker push $IMAGE_TAG_LATEST
  after_script:
    # Logout au registry
    - docker logout
