stages:
  - test
  - build

variables:
  WORKSPACE: "."
  APP_FOLDER: "$WORKSPACE/bug-tracker"
  APP_VERSION: "1.0.0"
  TEST_IMAGE: "cypress/browsers:node-20-chrome-118.0.5993.88-1-ff-118.0.2-edge-118.0.2088.46-1"
  DOCKER_IMAGE: "docker:24.0"
  DOCKER_DIND_SERVICE: "docker:24-dind"
  DOCKER_DRIVER: "overlay2"
  DOCKER_TLS_CERTDIR: "/certs"
  IMAGE_TAG_LATEST: "$DOCKER_USERNAME:latest"
  IMAGE_TAG_VERSION: "$DOCKER_USERNAME:v$APP_VERSION-$CI_PIPELINE_IID"

# ===========================================
# JOB 1 : Tests
# ===========================================
test:
  stage: test
  image: $TEST_IMAGE
  before_script:
    - cd $APP_FOLDER
    - npm ci
  script:
    - npm start &
    - APP_PID=$!
    - npx wait-on http://localhost:3000 --timeout 120000
    - npm run test:ci
    - kill $APP_PID || true
  artifacts:
    when: on_failure
    paths:
      - $APP_FOLDER/cypress/videos
      - $APP_FOLDER/cypress/screenshots
    expire_in: 1 week
  rules:
    - if: "$CI_COMMIT_BRANCH == 'main'"

# ===========================================
# JOB 2 : Build Docker
# ===========================================
build:
  stage: build
  image: $DOCKER_IMAGE
  services:
    - $DOCKER_DIND_SERVICE
  needs:
    - test
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building Image..."
    - docker build -t $IMAGE_TAG_VERSION $APP_FOLDER
    - docker tag $IMAGE_TAG_LATEST $IMAGE_TAG_VERSION
    - echo "Pushing Image..."
    - docker push $IMAGE_TAG_VERSION
    - docker push $IMAGE_TAG_LATEST
  after_script:
    - docker logout
  rules:
    - if: "$CI_COMMIT_BRANCH == 'main'"
